<div class="user-header">
    <h1>

        @if (SelectedUser.Status >= 1)
        {
            <span style="color: white; background-color:red;">BANNED</span>
        }
        <span> User: </span>
        <span>@SelectedUser.UserName</span>

    </h1>
</div>
<div class="user-row">
    <div class="user-col">
        <h2>Details</h2>
        <div class="user-detail-row"><span><img src="/api/twitch/logo/@(SelectedUser.UserId)" class="profile-picture" /></span></div>
        <div class="user-detail-row">
            <span>Twitch User Id: </span><span>@SelectedUser.UserId</span>
        </div>
        <div class="user-detail-row">
            <span>Email:</span> <span>@SelectedUser.Email</span>
        </div>
        <div class="user-detail-row">
            <span>Patreon:</span>
            @if (EditingUserPatreon)
            {
                <select class="clan-role-selector" @onchange="SelectedPatreonChanged">
                    @for (var i = 0; i < patreonNames.Length; ++i)
                    {
                        if (SelectedUser.PatreonTier == i)
                        {
                            <option id="@i" value="@i" selected>
                                @(i >= patreonNames.Length ? patreonNames[patreonNames.Length - 1] : patreonNames[i])
                            </option>
                        }
                        else
                        {
                            <option id="@i" value="@i">
                                @(i >= patreonNames.Length ? @patreonNames[patreonNames.Length - 1] : patreonNames[i])
                            </option>
                        }
                    }
                </select>
                <span class="fas fa-check" @onclick="UpdateUserPatreon"></span>
                <span class="fas fa-times" @onclick="CancelEditUserPatreon"></span>
            }
            else
            {
                var i = SelectedUser.PatreonTier ?? 0;
                if (i >= patreonNames.Length)
                {
                    <span>@patreonNames[patreonNames.Length - 1]</span>
                }
                else
                {
                    <span>@patreonNames[i]</span>
                    <button class="link-button" @onclick="(()=> EditPatreon())"><i class="fa fa-pen" title="Edit"></i></button>
                }
            }
        </div>
        <div class="user-detail-row">
            <span>Admin: </span><span>@SelectedUser.IsAdmin</span>
        </div>
        <div class="user-detail-row">
            <span>Moderator: </span><span>@SelectedUser.IsModerator</span>
        </div>
        <div class="user-detail-row">
            <span>Hidden In HighScore:</span> <input type="checkbox" value="@SelectedUser.IsHiddenInHighscore" @onchange="ev => IsHiddenInHighscoreChanged(ev.Value)"></input>
        </div>
        <div class="user-detail-row">
            <span>Remarks/Comments: </span>
            @if (EditingUserRemark)
            {
                <input type="text" class="form-inline" @bind-value="editUserRemarkComment" />
                <button @onclick="ApplyUserRemark" class="btn ok">Save</button>
                <button @onclick="CancelEditRemark" class="btn cancel">Cancel</button>
            }
            else
            {
                @if (!string.IsNullOrEmpty(SelectedUser.Comment))
                {
                    <span>@SelectedUser.Comment</span>
                    <button class="link-button edit" @onclick="(()=> EditRemark())"><i class="fa-solid fa-comment-pen"></i></button>
                }
                else
                {
                    <button class="link-button" @onclick="(()=> EditRemark())"><i class="fa-solid fa-comment-plus"></i></button>
                }
            }
        </div>
    </div>
    <div class="user-col">
        <h2>Clan</h2>

        @if (SelectedUser.HasClan)
        {
            <div class="clan-detail-row">
                @if (!string.IsNullOrEmpty(SelectedUser.Clan.Logo))
                {
                    <img src="@SelectedUser.Clan.Logo" class="clan-logo" />
                }
                else
                {
                    <img src="/api/twitch/logo/@SelectedUser.UserId" class="clan-logo" />
                }
            </div>
            <div class="clan-detail-row">
                <div class="clan-created">
                    <span>Created on:</span> @SelectedUser.Clan.Created
                </div>
            </div>
            <div class="clan-detail-row">
                <div class="clan-name">
                    <span>Name:</span>
                    <span>@SelectedUser.Clan.Name</span>
                </div>
            </div>
            <div class="clan-detail-row">
                <div class="clan-exp">
                    <span>Exp:</span> @SelectedUser.Clan.Experience

                </div>
            </div>
            <div class="clan-detail-row">
                <p class="clan-level">Level <span>@SelectedUser.Clan.Level</span></p>
            </div>
        }
        else
        {
            <div class="clan-detail-row">
                <span>Does not own a clan</span>
            </div>
        }

    </div>
    @if (SelectedUser.HasClan && !SelectedUser.Clan.CanChangeName)
    {
        <button class="link-button" @onclick="(()=> ResetClanNameChangeCounter())">Allow Clan Rename</button>
    }
</div>
<div class=user-inventory>
    <h2>Stash</h2>
    <div class="stash-status">
        @if (Stash != null)
        {
            if (Stash.Count == 0)
            {
                <span>No Items in Stash</span>
            }
        }
    </div>
    <div class="inventory-items">

        @foreach (var entry in Stash)
        {
            var item = itemLookup[entry.ItemId];
            <div class="inventory-item stash">
                @*@onclick="(()=>ShowItemDetails(character, item))"*@
                <div class="item-image" data-item="@item.Id"><img src="@GetItemImage(entry.ItemId, entry.Tag)" /></div>


                <div class="item-amount @(entry.Amount == 1 ? "invisible" : "")">@GetItemAmount(entry.Amount)</div>

            </div>
        }
    </div>"
</div>

