<div class="user">
    <h1>
        <span>User: </span><span>@SelectedUser.UserName</span>
    </h1>
</div>
<div class="user-details">
    @if (SelectedUser.Status >= 1)
    {
        <span style="color: white; background-color:red;font-size:9pt;">&nbsp;BANNED</span>
    }<span><img src="/api/twitch/logo/@(SelectedUser.UserId)" class="profile-picture" /></span>
    <br />
    <span>Twitch User Id: </span><span>@SelectedUser.UserId</span>
    <br />
    <span>Email:</span> <span>@SelectedUser.Email</span>
    <br />
    <span>Patreon:</span>
    @if (EditingUserPatreon)
    {
        <select class="clan-role-selector" @onchange="SelectedPatreonChanged">
            @for (var i = 0; i < patreonNames.Length; ++i)
            {
                if (SelectedUser.PatreonTier == i)
                {
                    <option id="@i" value="@i" selected>
                        @(i >= patreonNames.Length ? patreonNames[patreonNames.Length - 1] : patreonNames[i])
                    </option>
                }
                else
                {
                    <option id="@i" value="@i">
                        @(i >= patreonNames.Length?@patreonNames[patreonNames.Length - 1]:patreonNames[i])
                    </option>
                }
            }
        </select>
        <span class="fas fa-check" @onclick="UpdateUserPatreon"></span>
        <span class="fas fa-times" @onclick="CancelEditUserPatreon"></span>
    }
    else
    {
        var i = SelectedUser.PatreonTier ?? 0;
        if (i >= patreonNames.Length)
        {
            <span>@patreonNames[patreonNames.Length - 1]</span>
        }
        else
        {
            <span>@patreonNames[i]</span>
        }
    }<br />
    <span>Admin: </span><span>@SelectedUser.IsAdmin</span>
    <br />
    <span>Moderator: </span><span>@SelectedUser.IsModerator</span>
    <br />
    <span>Hidden In HighScore:</span> <input type="checkbox" value="@SelectedUser.IsHiddenInHighscore" @onchange="ev => IsHiddenInHighscoreChanged(ev.Value)"></input>
    <br />
    <span>Remarks/Comments: </span><span>@SelectedUser.Comment</span>
    <br />
    @if (!string.IsNullOrEmpty(SelectedUser.Comment))
    {
        <button class="link-button edit" @onclick="(()=> EditRemark())"><i class="fa-solid fa-comment-pen"></i></button>
    }
    else
    {
        <button class="link-button" @onclick="(()=> EditRemark())"><i class="fa-solid fa-comment-plus"></i></button>
    }
    @if (SelectedUser.HasClan && !SelectedUser.Clan.CanChangeName)
    {
        <button class="link-button" @onclick="(()=> ResetClanNameChangeCounter())">Allow Clan Rename</button>
    }
    <button class="link-button" @onclick="(()=> EditPatreon())">Patreon</button>
    @if (SelectedUser.Status >= 1)
    {
        <button class="link-button" @onclick="(()=> UnbanUser())">Unban</button>
    }
    else
    {
        <button class="link-button" @onclick="(()=> BanUser())">Ban</button>
    }
</div>

@if (EditingUserRemark)
{
    <div class="modal-background">
        <div class="modal-window">

            <div class="modal-header">
                <h2>Edit Comment</h2>
                <button class="close" @onclick="CancelEditRemark">x</button>
            </div>

            <div class="modal-body">
                <div class="form-row">
                    <input type="text" class="modal-input" @bind-value="editUserRemarkComment" />
                </div>
                <div class="modal-actions">
                    <button @onclick="ApplyUserRemark" class="btn ok">Save</button>
                    <button @onclick="CancelEditRemark" class="btn cancel">Cancel</button>
                </div>
            </div>
        </div>
    </div>
}