
<div class="skill-display">
    <span class="skill-name">@SkillName</span>
    <span class="skill-icon">

        <span class="@SkillStyled.SkillImgStylingClass" title="@SkillName">
            @if (SkillStyled.SkillImgLocation != null)
            {
                <img class="@SkillStyled.SkillImgStylingClass" src="@SkillStyled.SkillImgSource" alt="@SkillName Icon" />
            }
        </span>
    </span>
</div>