@if (IsPlaying)
{
    <div class="twitch-play-sessions @(showTwitchStreams ? "open" : "closed")">
        <button class="btn-toggle-streams" @onclick="ToggleTwitchStreams">
            <span class="fas fa-chevron-@(showTwitchStreams ? "right" : "left")"></span>
            @if (!showTwitchStreams)
            {
                <span>&nbsp;Show Streams</span>
            }
        </button>
        @if (showTwitchStreams)
        {
            foreach (var play in Session.PlaySessions)
            {
                <div class="twitch-play">
                    <div class="stream-name">
                        <div class="--character-name">@play.CharacterName</div>
                        <div class="--character-index">@play.CharacterIndex</div>
                        <div class="--character-level">@play.CharacterCombatLevel</div>
                    </div>
                    <iframe src="@GetTwitchStreamUrl(play)"
                height="200"
                width="360"
                frameborder="0"
                scrolling="no"
                allowfullscreen="true">
                    </iframe>
                </div>
            }
        }
    </div>
}

@code {
    [Parameter]
    public RavenNest.Models.SessionInfo Session { get; set; }

    private bool IsPlaying => Session.UserName != null && Session?.PlaySessions?.Count > 0;
    private bool showTwitchStreams = false;

    private void ToggleTwitchStreams()
    {
        showTwitchStreams = !showTwitchStreams;
    }

    private string GetTwitchStreamUrl(CharacterGameSession play)
    {
        return "https://player.twitch.tv/?channel=" + play.SessionOwnerUserName + "&parent=www.ravenfall.stream&parent=ravenfall.stream&parent=www.ravenfall.gg&parent=ravenfall.gg&parent=localhost";
    }
}
