@layout AdminLayout
@page "/admin"
@inject RavenNest.Blazor.Services.AuthService AuthService
@inject RavenNest.Blazor.Services.UserService UserService

@using System.Linq;
@using Blazorise.Charts

@if (isAdmin)
{
    <h1>Overview</h1>
    <div class="skill-selector">
        @for (var i = 0; i < TimeFrames.Length; ++i)
        {
            var tf = TimeFrames[i];
            var name = GetName(tf);
            <button @onclick="(() => SelectTimeFrameAsync(tf))" class="btn @(newUserTimeframe == tf ? "active" : "")">@name</button>
        }
    </div>
    if (newUserChartData != null && newUserChartOptions != null)
    {
        <LineChart TItem="double" Data="@newUserChartData" Options="@newUserChartOptions"></LineChart>
    }

    if (commonHoursNewUsersChartData != null && commonHoursNewUsersChartOptions != null)
    {
        <LineChart TItem="double" Data="@commonHoursNewUsersChartData" Options="@commonHoursNewUsersChartOptions"></LineChart>
    }
}