@layout AdminLayout
@page "/admin/items"
@using Microsoft.AspNetCore.Hosting;
@using RavenNest.Models;
@using System.IO;
@inject RavenNest.Blazor.Services.AuthService AuthService
@inject RavenNest.Blazor.Services.ItemService ItemService
@inject IJSRuntime JsRuntime
@inject IWebHostEnvironment Environment

@if (isAdmin)
{

    @if (ItemEditorVisible)
    {
        <div class="item-editor-background">
            <div class="item-editor-modal">
                @*Model="editedItem"*@

                <div class="tabs">
                    <div class="tab-buttons">
                        <div class="btn-tab @(activeTab == ItemEditTab.Form ? "active" : "")" @onclick="ShowForm">Form</div>
                        <div class="btn-tab @(activeTab == ItemEditTab.Json ? "active" : "")" @onclick="ShowJson">Json</div>
                    </div>

                    @if (activeTab == ItemEditTab.Json)
                    {
                        <div class="tab-content">
                            <textarea @bind="jsonPresentation" class="item-editor-json"></textarea>
                        </div>
                    }

                    @if (activeTab == ItemEditTab.Form)
                    {
                        <div class="tab-content">
                            <EditForm class="item-editor-form" EditContext="context" OnValidSubmit="HandleSaveItem">
                                <DataAnnotationsValidator />
                                <ValidationSummary />

                                <div class="edit-content">
                                    <div class="edit-section general">
                                        <h2>General</h2>

                                        <div class="input-row">
                                            @if (ItemImageExists())
                                            {
                                                <img src="/imgs/items/@(editedItem.IdString).png" class="item-image" />
                                            }
                                            else
                                            {
                                                <img src="https://placehold.co/100x100" class="item-image" />
                                            }

                                            <label class="input-label">Upload Image</label>
                                            <InputFile OnChange="@UploadImage" />
                                        </div>

                                        <div class="input-row">
                                            <label class="input-label">ID</label>
                                            <InputText id="name" @bind-Value="editedItem.IdString" />
                                        </div>

                                        <div class="input-row">
                                            <label class="input-label">Name</label>
                                            <InputText id="name" @bind-Value="editedItem.Name" />
                                        </div>


                                        <div class="input-row">
                                            <label class="input-label">Level</label>
                                            <InputNumber id="level" @bind-Value="editedItem.Level" />
                                        </div>


                                        <div class="input-row inline">
                                            <label class="input-label">Soulbound</label>
                                            <InputCheckbox id="soulbound" @bind-Value="editedItem.Soulbound" />
                                        </div>


                                        <div class="input-row">
                                            <label class="input-label">Category</label>
                                            <InputSelect id="itemCategory" @bind-Value="editedItem.Category">
                                                @foreach (var option in Enum.GetValues<ItemCategory>())
                                                {
                                                    <option value="@option">@option</option>
                                                }
                                            </InputSelect>
                                        </div>


                                        <div class="input-row">
                                            <label class="input-label">Type (Sub Category)</label>
                                            <InputSelect id="itemType" @bind-Value="editedItem.Type">
                                                @foreach (var option in Enum.GetValues<ItemType>())
                                                {
                                                    <option value="@option">@option</option>
                                                }
                                            </InputSelect>
                                        </div>


                                        <div class="input-row">
                                            <label class="input-label">Material (Used for ingame skinning, non-generic items only)</label>
                                            <InputSelect id="itemMaterial" @bind-Value="editedItem.Material">
                                                @foreach (var option in Enum.GetValues<ItemMaterial>())
                                                {
                                                    <option value="@option">@option</option>
                                                }
                                            </InputSelect>
                                        </div>
                                    </div>

                                    <div class="edit-section level-requirements">
                                        <h2>Level Requirements</h2>
                                        <div class="input-row">
                                            <label class="input-label">Required Attack Level</label>
                                            <InputNumber id="reqAttackLevel" @bind-Value="editedItem.RequiredAttackLevel" />
                                        </div>
                                        <div class="input-row">
                                            <label class="input-label">Required Defense Level</label>
                                            <InputNumber id="reqDefenseLevel" @bind-Value="editedItem.RequiredDefenseLevel" />
                                        </div>
                                        <div class="input-row">
                                            <label class="input-label">Required Magic Level</label>
                                            <InputNumber id="reqMagicLevel" @bind-Value="editedItem.RequiredMagicLevel" />
                                        </div>
                                        <div class="input-row">
                                            <label class="input-label">Required Ranged Level</label>
                                            <InputNumber id="reqRangedLevel" @bind-Value="editedItem.RequiredRangedLevel" />
                                        </div>
                                        <div class="input-row">
                                            <label class="input-label">Required Slayer Level</label>
                                            <InputNumber id="reqSlayerLevel" @bind-Value="editedItem.RequiredSlayerLevel" />
                                        </div>
                                    </div>

                                    @if (CanBeEquipped())
                                    {

                                        <div class="edit-section appearance">
                                            <h2>Appearance</h2>
                                            <div class="input-row inline">
                                                <label class="input-label">Use Generic Model (Same model for all characters)</label>
                                                <InputCheckbox id="genericModel" @bind-Value="editedItem.IsGenericModel" />
                                            </div>


                                            @if (editedItem.IsGenericModel)
                                            {
                                                <div class="input-row">
                                                    <label class="input-label">Generic Prefab Path</label>
                                                    <InputText id="genericPrefab" @bind-Value="editedItem.GenericPrefab" />
                                                </div>

                                            }
                                            else
                                            {
                                                <div class="input-row">
                                                    <label class="input-label">Male Prefab Path</label>
                                                    <InputText id="malePrefab" @bind-Value="editedItem.MalePrefab" />
                                                </div>


                                                <div class="input-row">
                                                    <label class="input-label">Male Model Attributes</label>
                                                    <InputText id="maleModelId" @bind-Value="editedItem.MaleModelId" />
                                                </div>


                                                <div class="input-row">
                                                    <label class="input-label">Female Prefab Path</label>
                                                    <InputText id="femalePrefab" @bind-Value="editedItem.FemalePrefab" />
                                                </div>

                                                <div class="input-row">
                                                    <label class="input-label">Female Model Attributes</label>
                                                    <InputText id="femaleModelId" @bind-Value="editedItem.FemaleModelId" />
                                                </div>
                                            }
                                        </div>

                                        <div class="edit-section stats">
                                            <h2>Item Stats</h2>
                                            @if (CanHaveDefensiveStats())
                                            {
                                                <div class="input-row">
                                                    <label class="input-label">Armor Power</label>
                                                    <InputNumber id="armorPower" @bind-Value="editedItem.ArmorPower" />
                                                </div>

                                            }
                                            @if (CanHaveOffensiveStats())
                                            {
                                                <div class="input-row">
                                                    <label class="input-label">Weapon Power</label>
                                                    <InputNumber id="weaponPower" @bind-Value="editedItem.WeaponPower" />
                                                </div>

                                                <div class="input-row">
                                                    <label class="input-label">Weapon Aim</label>
                                                    <InputNumber id="weaponAim" @bind-Value="editedItem.WeaponAim" />
                                                </div>

                                                <div class="input-row">
                                                    <label class="input-label">Magic Power</label>
                                                    <InputNumber id="magicPower" @bind-Value="editedItem.MagicPower" />
                                                </div>

                                                <div class="input-row">
                                                    <label class="input-label">Magic Aim</label>
                                                    <InputNumber id="magicAim" @bind-Value="editedItem.MagicAim" />
                                                </div>

                                                <div class="input-row">
                                                    <label class="input-label">Ranged Power</label>
                                                    <InputNumber id="rangedPower" @bind-Value="editedItem.RangedPower" />
                                                </div>

                                                <div class="input-row">
                                                    <label class="input-label">Ranged Aim</label>
                                                    <InputNumber id="rangedAim" @bind-Value="editedItem.RangedAim" />
                                                </div>
                                            }
                                        </div>
                                    }

                                    <div class="edit-section vendor">
                                        <h2>Vendor</h2>
                                        <div class="input-row">
                                            <label class="input-label">Shop Sell Price (How much do we get when !vendor?)</label>
                                            <InputNumber id="shopSellPrice" @bind-Value="editedItem.ShopSellPrice" />
                                        </div>

                                        <div class="input-row">
                                            <label class="input-label">Shop Buy Price (How much does it cost to buy?)</label>
                                            <InputNumber id="shopBuyPrice" @bind-Value="editedItem.ShopBuyPrice" />
                                        </div>
                                    </div>

                                    <div class="edit-section crafting">
                                        <h2>Crafting Requirements</h2>
                                        <div class="input-row inline">
                                            <label class="input-label">Is Craftable?</label>
                                            <InputCheckbox id="craftable" @bind-Value="editedItem.Craftable" />
                                        </div>

                                        @if (editedItem.Craftable)
                                        {
                                            <div class="input-row">
                                                <label class="input-label">Required Crafting Level</label>
                                                <InputNumber id="craftingLevel" @bind-Value="editedItem.RequiredCraftingLevel" />
                                            </div>

                                            <div class="input-row">
                                                <label class="input-label">Required Crafting Level</label>
                                                <InputNumber id="craftingLevel" @bind-Value="editedItem.RequiredCookingLevel" />
                                            </div>


                                            <div class="crafting-resource-requirements">

                                                <div class="input-row">
                                                    <label class="input-label">Ore Cost (WILL BE REMOVED!!)</label>
                                                    <InputNumber id="oreCost" @bind-Value="editedItem.OreCost" />
                                                </div>


                                                <div class="input-row">
                                                    <label class="input-label">Wood Cost (WILL BE REMOVED!!)</label>
                                                    <InputNumber id="woodCost" @bind-Value="editedItem.WoodCost" />
                                                </div>


                                            </div>

                                            <div class="crafting-item-requirements">
                                                @if (editedItem.CraftingRequirements != null)
                                                {
                                                    foreach (var req in editedItem.CraftingRequirements)
                                                    {
                                                        <div class="crafting-requirement">

                                                            <div class="input-row">
                                                                <label class="input-label">Resource Item</label>
                                                                <InputSelect @bind-Value="req.ResourceItemId">
                                                                    @foreach (var item in items.Where(x => x.Category == ItemCategory.Resource))
                                                                    {
                                                                        <option value="@item.Id">@item.Name</option>
                                                                    }
                                                                </InputSelect>
                                                            </div>

                                                            <div class="input-row">
                                                                <label class="input-label">Amount</label>
                                                                <InputNumber @bind-Value="req.Amount" />
                                                            </div>

                                                            <div class="btn delete-crafting-requirement" @onclick="(() => RemoveCraftingRequirement(req))">
                                                                <i class="fas fa-trash"></i>
                                                            </div>
                                                        </div>
                                                    }
                                                }

                                            </div>

                                            <div class="btn add-crafting-requirement" @onclick="AddCraftingRequirement">Add Crafting Requirement</div>
                                        }
                                    </div>
                                </div>
                                <div class="modal-buttons">
                                    <button type="submit" class="btn">Save</button>
                                    <div class="btn btn-close" @onclick="(() => ItemEditorVisible = false)">Cancel</div>
                                </div>
                            </EditForm>
                        </div>
                    }

                </div>
            </div>
        </div>
    }

    @if (items == null)
    {
        <span>Loading items... Please wait</span>
        <LoadIndicator></LoadIndicator>
    }
    else
    {
        <button class="btn" @onclick="CreateNewItem">Create New Item</button>
        <table class="items-list">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Stats</th>
                    <th>Level Req</th>
                    <th>Category</th>
                    <th>Item Type</th>
                    <th>Material Type</th>
                    <th>Crafting Level</th>
                    <th>Vendor Price</th>
                    <th>Crafting Requirements</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in items)
                {
                    <tr id="@item.Id" class="item-row">
                        <td><img src="/imgs/items/@(item.Id).png" style="width: 40px" /></td>
                        <td class='item'>@item.Name</td>
                        <td class='item'>
                            @if (item.WeaponAim > 0)
                            {
                                <span class="item-stat" title="Weapon Aim - Increases your hit rate in melee"><i class="fas fa-crosshairs"></i>@item.WeaponAim</span>
                            }
                            @if (item.WeaponPower > 0)
                            {
                                <span class="item-stat" title="Weapon Power - Increases your maximum damage in melee"><i class="fas fa-swords"></i>@item.WeaponPower</span>
                            }
                            @if (item.RangedAim > 0)
                            {
                                <span class="item-stat" title="Ranged Aim - Increases your ranged hit rate"><i class="fas fa-crosshairs"></i>@item.RangedAim</span>
                            }
                            @if (item.RangedPower > 0)
                            {
                                <span class="item-stat" title="Ranged Power - Increases your ranged maximum damage"><i class="fas fa-bow-arrow"></i>@item.RangedPower</span>
                            }
                            @if (item.MagicAim > 0)
                            {
                                <span class="item-stat" title="Magic Aim - Increases your magic hit rate">
                                    <i class="fas fa-wand"></i>@item.MagicAim
                                </span>
                            }
                            @if (item.MagicPower > 0)
                            {
                                <span class="item-stat" title="Magic Power - Increases your magic maximum damage">
                                    <i class="fas fa-hand-holding-magic"></i>
                                    @item.MagicPower
                                </span>
                            }
                            @if (item.ArmorPower > 0)
                            {
                                <span class="item-stat" title="Armor Power - Decreases the hit rate of your attacker"><i class="fas fa-shield"></i>@item.ArmorPower</span>
                            }
                        </td>
                        <td class='item'>
                            @if (item.RequiredAttackLevel > 0)
                            {
                                <span class="item-stat" title="Required Attack Level">
                                    <i class="fas fa-swords"></i>
                                    @item.RequiredAttackLevel
                                </span>
                            }
                            @if (item.RequiredDefenseLevel > 0)
                            {
                                <span class="item-stat" title="Required Defense Level">
                                    <i class="fas fa-shield"></i>
                                    @item.RequiredDefenseLevel
                                </span>
                            }
                            @if (item.RequiredMagicLevel > 0)
                            {
                                <span class="item-stat" title="Required Magic Level">
                                    <i class="fas fa-hand-holding-magic"></i>
                                    @item.RequiredMagicLevel
                                </span>
                            }
                            @if (item.RequiredRangedLevel > 0)
                            {
                                <span class="item-stat" title="Required Ranged Level">
                                    <i class="fas fa-bow-arrow"></i>
                                    @item.RequiredRangedLevel
                                </span>
                            }
                        </td>
                        <td class='item'>@item.Category</td>
                        <td class='item'>@item.Type</td>
                        <td class='item'>@item.Material</td>
                        <td class='item'>@item.RequiredCraftingLevel</td>
                        <td class='item'>@item.ShopSellPrice&nbsp;<img class="ravenCoins" src="/favicon.png" /></td>
                        <td class='item'>
                            @foreach (var req in item.CraftingRequirements)
                            {
                                var reqItem = items.First(x => x.Id == req.ResourceItemId);
                                <span>@(reqItem.Name) x@(req.Amount)&nbsp;</span>
                            }
                        </td>
                        <td class='item'>
                            <button class="btn" @onclick="(() => EditItem(item))">
                                <i class="fas fa-edit"></i>
                            </button>
                            <button class="btn" @onclick="(() => HandleRemoveItem(item.Id))">
                                <i class="fas fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
}

@code {

    private ItemEdit editedItem = new ItemEdit();
    private EditContext context;

    private string updateError = "";
    private bool isAdmin;
    private bool ItemEditorVisible;

    private ItemEditTab activeTab;

    private string jsonPresentation;
    private string unmodifiedJson;

    private RavenNest.Models.SessionInfo session;
    private RavenNest.Models.ItemCollection items;

    private void ShowForm()
    {
        if (unmodifiedJson != jsonPresentation)
        {
            // try rebuild item from json
            try
            {
                editedItem = Newtonsoft.Json.JsonConvert.DeserializeObject<ItemEdit>(jsonPresentation);
                CreateContext();
            }
            catch { }
        }
        activeTab = ItemEditTab.Form;
        StateHasChanged();
    }

    private void ShowJson()
    {
        unmodifiedJson = jsonPresentation;
        activeTab = ItemEditTab.Json;
    }

    private void CreateContext()
    {
        UpdateJsonPresentation();
        if (context != null)
        {
            context.OnFieldChanged -= OnFieldChanged;
        }
        context = new EditContext(editedItem);
        context.OnFieldChanged += OnFieldChanged;
    }

    private void OnFieldChanged(object sender, FieldChangedEventArgs evt)
    {
        UpdateJsonPresentation();
    }

    private void UpdateJsonPresentation()
    {
        jsonPresentation = Newtonsoft.Json.JsonConvert.SerializeObject(editedItem, Newtonsoft.Json.Formatting.Indented);
    }

    protected override void OnInitialized()
    {
        CreateContext();
        session = AuthService.GetSession();
        isAdmin = session != null && session.Administrator;
        LoadItems();
    }

    private bool ItemImageExists()
    {
        var fileName = editedItem.IdString + ".png";
        var path = Path.Combine(Environment.WebRootPath, "imgs", "items", fileName);
        return File.Exists(path);
    }

    private async Task UploadImage(InputFileChangeEventArgs e)
    {
        var browserFile = e.File;

        if (e.File.ContentType != "image/png")
        {
            updateError = "Only PNG images are supported.";
            return;
        }

        var fileName = editedItem.Id + ".png";
        var path = Path.Combine(Environment.WebRootPath, "imgs", "items", fileName);

        if (File.Exists(path))
        {
            bool confirm = await JsRuntime.InvokeAsync<bool>("confirm", "An existing image already exists and this action will replace it. Are you sure?");
            if (!confirm)
            {
                return;
            }
        }

        await using FileStream fs = new(path, FileMode.Create);
        await browserFile.OpenReadStream().CopyToAsync(fs);

        StateHasChanged();
    }

    private void CreateNewItem()
    {
        var id = Guid.NewGuid();
        editedItem = new ItemEdit()
            {
                Id = id,
                CraftingRequirements = new List<ItemCraftingRequirement>(),
            };

        CreateContext();
        ItemEditorVisible = true;
    }

    private void EditItem(RavenNest.Models.Item item)
    {
        editedItem = DataMapper.Map<ItemEdit>(DataMapper.Clone(item));

        if (editedItem.ShopBuyPrice <= 0)
        {
            editedItem.ShopBuyPrice = GameMath.CalculateVendorBuyPrice(item, 0);
        }

        CreateContext();
        ItemEditorVisible = true;
    }
    private bool CanHaveDefensiveStats()
    {
        return editedItem.Category == ItemCategory.Ring || editedItem.Category == ItemCategory.Amulet || editedItem.Category == ItemCategory.Armor || editedItem.Category == ItemCategory.Skin;
    }

    private bool CanHaveOffensiveStats()
    {
        return editedItem.Category == ItemCategory.Ring || editedItem.Category == ItemCategory.Amulet || editedItem.Category == ItemCategory.Weapon || editedItem.Category == ItemCategory.Skin;
    }

    private bool CanBeEquipped()
    {
        return editedItem.Category == ItemCategory.Ring || editedItem.Category == ItemCategory.Amulet || editedItem.Category == ItemCategory.Weapon || editedItem.Category == ItemCategory.Armor || editedItem.Category == ItemCategory.Skin;
    }

    private async Task RemoveCraftingRequirement(ItemCraftingRequirement req)
    {
        if (editedItem == null) return;
        editedItem.CraftingRequirements.Remove(req);
        StateHasChanged();
    }

    private async Task HandleRemoveItem(Guid itemId)
    {
        bool confirm = await JsRuntime.InvokeAsync<bool>("confirm", "Are you sure you want to delete this item?");
        if (!confirm)
        {
            return;
        }

        var result = await ItemService.DeleteItemAsync(itemId);
        if (result)
        {
            items = new Models.ItemCollection((await ItemService.GetItemsAsync()).OrderBy(x => x.Name));
            updateError = "";
        }
        else
        {
            updateError = "Failed to delete item";
        }

        StateHasChanged();
    }

    private async void HandleSaveItem()
    {
        if (context.IsModified())
        {
            if (!string.IsNullOrEmpty(editedItem.IdString) && Guid.TryParse(editedItem.IdString, out var newId))
            {
                editedItem.Id = newId;
            }

            var result = await ItemService.AddOrUpdateItemAsync(editedItem);
            if (result)
            {
                items = new Models.ItemCollection((await ItemService.GetItemsAsync()).OrderBy(x => x.Name));
                updateError = "";
            }
            else
            {
                updateError = "Failed to update or create item";
            }

            ItemEditorVisible = false;
            StateHasChanged();
        }
    }

    private void AddCraftingRequirement()
    {
        editedItem.CraftingRequirements.Add(new ItemCraftingRequirement());
    }

    private async void LoadItems()
    {
        items = new Models.ItemCollection((await ItemService.GetItemsAsync()).OrderBy(x => x.Name));
        StateHasChanged();
    }

    public class ItemEdit : RavenNest.Models.Item
    {
        public string IdString
        {
            get => Id.ToString();
            set
            {
                if (!string.IsNullOrEmpty(value) && Guid.TryParse(value, out var newId))
                {
                    Id = newId;
                }
            }
        }
    }

    public enum ItemEditTab
    {
        Form,
        Json
    }
}