@using System.ComponentModel.DataAnnotations
@using RavenNest.Blazor.Services
@using RavenNest.BusinessLogic.Data
@using RavenNest.DataModels
@using Microsoft.Extensions.Logging
@inject RavenNest.Blazor.Services.AuthService AuthService
@inject RavenNest.Blazor.Services.ServerService ServerService


<tr class="loglines-list-row @cssRowTag">
    <td class="logline @cssRowTag">
        @*Timestamp*@
        @DataContext.LogDateTime.ToString("yyyy-MM-dd HH:mm:ss K")
    </td>
    <td class="logline @cssRowTag">
        @*Log Level*@
        <div class="item-highlight @cssLogLevelClass">@str</div>
    </td>
    <td class="logline @cssRowTag">
        @*Message*@
        @DataContext.Message
    </td>
</tr>

@code {
    private string cssRowTag = "";
    private string cssLogLevelClass = "";
    private string str = "";

    private RavenNest.Sessions.SessionInfo session;
    private bool isAdmin;

    [Parameter]
    public LogEntry DataContext { get; set; }


    protected override void OnInitialized()
    {
        session = AuthService.GetSession();
        isAdmin = session != null && session.Administrator;
        FormatLogLevel(DataContext.LogLevel);
    }

    private void FormatLogLevel(LogLevel level)
    {
        // default values for Error, Warning
        cssLogLevelClass = level.ToString().ToLower();
        str = level.ToString().ToUpper();

        switch (DataContext.LogLevel)
        {
            case LogLevel.Warning:
                cssRowTag = "highlight";
                break;

            case LogLevel.Error:
                str = "ERROR";
                cssRowTag = "err";
                break;

            case LogLevel.Critical:
                str = "!!CRITICAL!!";
                cssRowTag = "err";
                break;

            //case LogLevel.Trace:
            //case LogLevel.Debug:
            //case LogLevel.Information:
            default:
                cssLogLevelClass = "none";
                str = level.ToString();
                break;
        }
    }
}