@using System.ComponentModel.DataAnnotations
@using RavenNest.Blazor.Services
@using RavenNest.BusinessLogic.Data
@using RavenNest.DataModels
@using Microsoft.Extensions.Logging
@inject RavenNest.Blazor.Services.AuthService AuthService
@inject RavenNest.Blazor.Services.ServerService ServerService


@if (isAdmin)
{

    <tr class="logline-row @cssRowTag">
        <td class="logline @cssRowTag">
            @*Timestamp*@
            @RavenbotLogLine.LogDateTime.Value.ToString("yyyy-MM-dd HH:mm:ss K")
        </td>
        <td class="logline @cssRowTag">
            @*Log Level*@
            <div class=""></div>
            <div class="log-row @cssLogLevelClass"> @str </div>
        </td>
        <td class="logline @cssRowTag">
            @*Message*@
            @RavenbotLogLine.Message
        </td>
    </tr>
}

@code {
    private string cssRowTag = "";
    private string cssLogLevelClass = "";
    private string str = "";
    private RavenNest.Sessions.SessionInfo session;
    private bool isAdmin;
    [Parameter]
    public LogObj RavenbotLogLine { get; set; }


    protected override async Task OnInitializedAsync()
    {
        session = AuthService.GetSession();
        isAdmin = session != null && session.Administrator;
        FormatLogLevel(RavenbotLogLine.LogLevel);
    }

    private void FormatLogLevel(LogLevel? level)
    {
        if (level is null)
            level = LogLevel.None;

        switch (@RavenbotLogLine.LogLevel)
        {
            case LogLevel.Trace:
                cssLogLevelClass = "none";
                str = "Trace";
                break;
            case LogLevel.Debug:
                cssLogLevelClass = "none";
                str = "Debug";
                break;
            case LogLevel.Information:
                cssLogLevelClass = "none";
                str = "Information";
                break;
            case LogLevel.Warning:
                cssLogLevelClass = "warning";
                str = "WARNING";
                cssRowTag = "highlight";
                break;
            case LogLevel.Error:
                cssLogLevelClass = "error";
                str = "ERROR";
                cssRowTag = "err";
                break;
            case LogLevel.Critical:
                cssLogLevelClass = "critical";
                str = "!!CRITICAL!!";
                cssRowTag = "err";
                break;
            default:
                cssLogLevelClass = "default";
                str = "warning";
                cssRowTag = "highlight";
                break;
        }
    }
}