@layout AdminLayout
@page "/admin/search"


<div class="pagenation">
    <div class="search-bar">
        <EditForm Model="searchModel" OnSubmit="Filter">
            <InputText class="search-input" placeholder="Search for id, username or name" @bind-Value="searchModel.Query" />
        </EditForm>
    </div>
    <div class="total-players"><span>@totalCount</span> users</div>
</div>
<table class="player-table">
    <thead>
        <tr>
            <th></th>
            <th>UserId</th>
            <th>UserName</th>
            <th>Email</th>
            <th>Patreon</th>
            <th>Characters</th>
            <th>Admin</th>
            <th>Mod</th>
        </tr>
    </thead>
    <tbody>

        @if (string.IsNullOrEmpty(searchModel.Query))
        {
            <div>Enter search for ID, username, email, or character name</div>
        }
        else if (users == null || loading)
        {
            <LoadIndicator></LoadIndicator>
        }
        else
        {
            @foreach (var user in users)
            {
                <tr class="player-row">
                    <td><img src="/api/twitch/logo/@(user.UserId)" class="profile-picture" /></td>
                    <td><a href="/admin/user/@user.UserId">@user.UserId</a></td>
                    <td>
                        <span>@user.UserName</span>
                        @if (user.Status >= 1)
                        {
                            <span style="color: white; background-color:red;font-size:9pt;">&nbsp;BANNED</span>
                        }
                    </td>
                    <td>
                        @user.Email
                    </td>
                    <td>
                      @if(user.PatreonTier != null && user.PatreonTier >= patreonNames.Length)
                      {
                        @patreonNames[patreonNames.Length - 1]
                      } else {
                        @patreonNames[user.PatreonTier?? 0]
                      }
            </td>
            <td>
                @if (@user.Characters.Count > 0)
                        {
                            <ul>
                                @foreach (var character in @user.Characters)
                                {
                                    <li class="character-list">
                                        <div class=character-session><span class=player-character>@character.UserName<span class='player-character-index' alt='Character Number'>@character.CharacterIndex</span></span> <span class=session>@character.SessionName</span></div>
                                    </li>
                                }
                            </ul>
                        }
                    </td>
                    <td>@user.IsAdmin</td>
                    <td>@user.IsModerator</td>
                    <td>
                        @user.IsHiddenInHighscore
                    </td>
                </tr>
            }
        }
    </tbody>
</table>